<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Orange_HelloWorld::helloworld" title="Hello World" module="Orange_HelloWorld" sortOrder="51" resource="Orange_HelloWorld::helloworld"/>
        <add id="Orange_HelloWorld::post" title="CURD Operations" module="Orange_HelloWorld" sortOrder="10" action="orange_helloworld/post" resource="Orange_HelloWorld::post" parent="Orange_HelloWorld::helloworld"/>
        <add id="Orange_HelloWorld::hello_configuration" title="Configuration" module="Orange_HelloWorld" sortOrder="99" parent="Orange_HelloWorld::helloworld" action="adminhtml/system_config/edit/section/helloworld" resource="Orange_HelloWorld::helloworld_configuration"/>
    </menu>
</config>
